<!-- Navbar Start -->
<nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a href="index.html" class="navbar-brand">
            <img src="../../../../assets/images/gc-srilanka-logo.png" alt="" width="90" height="55">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="lni-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
                <li class="nav-item active">
                    <a class="nav-link" href="#hero-area">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#feature">
                        Feature
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#services">
                        Services
                    </a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="#team">
                        Team
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#pricing">
                        Pricing
                    </a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#portfolios">
                        Works
                    </a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#testimonial">
                        Testimonial
                    </a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#blog">
                        Blog
                    </a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="#contact">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar End -->