<!-- Team Section Start -->
<section id="team" class="section-padding text-center">
    <div class="container">
        <div class="section-header text-center">
            <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Meet our team</h2>
            <p>A desire to help and empower others between community contributors in technology.</p>
        </div>
        <div class="row">
            <div class="col-sm-2dot4 col-md-2dot4 col-lg-2dot4">
                <!-- Team Item Starts -->
                <div class="team-item text-center wow fadeInRight" data-wow-delay="0.3s">
                    <div class="team-img">
                        <img class="img-fluid"
                            src="https://scontent.fcmb4-1.fna.fbcdn.net/v/t31.0-1/c95.134.650.650a/23845601_1286594198111464_1825579405135805435_o.jpg?_nc_cat=109&_nc_ohc=UATMZrS1sl0AQlvJLLuU8yzKLBIgeR4B70ZwOqmx9MTUZSA2RkH8Gf8Zg&_nc_ht=scontent.fcmb4-1.fna&oh=b50265d05c433d37df38db3d4e597e21&oe=5E6D302B"
                            alt="">
                        <div class="team-overlay">
                            <div class="overlay-social-icon text-center">
                                <ul class="social-icons">
                                    <li><a href="https://www.facebook.com/isuruAb" target="_blank"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="https://twitter.com/isuruAb" target="_blank"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.instagram.com/isuruab_/" target="_blank"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="info-text">
                        <h3><a href="#">
                                Isuru Abeywardana</a></h3>
                        <p>Campus Expert</p>
                    </div>
                </div>
                <!-- Team Item Ends -->
            </div>
            <div class="col-sm-2dot4 col-md-2dot4 col-lg-2dot4">
                <!-- Team Item Starts -->
                <div class="team-item text-center wow fadeInRight" data-wow-delay="0.6s">
                    <div class="team-img">
                        <img class="img-fluid"
                            src="https://scontent.fcmb4-1.fna.fbcdn.net/v/t1.0-9/p960x960/29791059_1892616647443850_4899099689367896064_o.jpg?_nc_cat=110&_nc_ohc=MbD6cpEGoSoAQl7itep2psTYKtuobS9ks0LPHQvDXc3B4KUkK0zU7U-2g&_nc_ht=scontent.fcmb4-1.fna&oh=f42e4578320e0ad9797623d1abaa501e&oe=5E70B49E"
                            alt="">
                        <div class="team-overlay">
                            <div class="overlay-social-icon text-center">
                                <ul class="social-icons">
                                    <li><a href="https://www.facebook.com/cloudypadmal" target="_blank"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="https://twitter.com/Cloudypadmal" target="_blank"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.instagram.com/cloudypadmal/" target="_blank"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="info-text">
                        <h3><a href="#">
                                Madhushanka Padmal</a></h3>
                        <p>Campus Expert</p>
                    </div>
                </div>
                <!-- Team Item Ends -->
            </div>

            <div class="col-sm-2dot4 col-md-2dot4 col-lg-2dot4">
                <!-- Team Item Starts -->
                <div class="team-item text-center wow fadeInRight" data-wow-delay="0.9s">
                    <div class="team-img">
                        <img class="img-fluid"
                            src="https://scontent.fcmb4-1.fna.fbcdn.net/v/t1.0-9/s960x960/53970386_2539579162737960_151392597842067456_o.jpg?_nc_cat=104&_nc_ohc=15QotzAHi3kAQlLdxwFtDQhUb7cVB33Noz0GOikww8SUGLirCfiWZmsIg&_nc_ht=scontent.fcmb4-1.fna&oh=e08a20a617afa0012c8be5ab5ca57c00&oe=5E787B1F"
                            alt="">
                        <div class="team-overlay">
                            <div class="overlay-social-icon text-center">
                                <ul class="social-icons">
                                    <li><a href="https://www.facebook.com/DilumMDeSilva" target="_blank"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="https://twitter.com/dilum_de" target="_blank"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.instagram.com/dilum1995/" target="_blank"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="info-text">
                        <h3><a href="#">Dilum De <br>Silva</a></h3>
                        <p>Campus Expert</p>
                    </div>
                </div>
                <!-- Team Item Ends -->
            </div>

            <div class="col-sm-2dot4 col-md-2dot4 col-lg-2dot4">
                <!-- Team Item Starts -->
                <div class="team-item text-center wow fadeInRight" data-wow-delay="1.2s">
                    <div class="team-img">
                        <img class="img-fluid"
                            src="https://scontent.fcmb4-1.fna.fbcdn.net/v/t1.0-9/75407695_1481233975350565_752232211582812160_n.jpg?_nc_cat=105&_nc_ohc=j7G5emXJTUAAQlMzouSFRIDR2FskHGy4mQGTOnbiyKOLmQtZF5IBO-5rw&_nc_ht=scontent.fcmb4-1.fna&oh=f719d85c05b522dd723a34f95fc80660&oe=5EAA4A0C"
                            alt="">
                        <div class="team-overlay">
                            <div class="overlay-social-icon text-center">
                                <ul class="social-icons">
                                    <li><a href="https://www.facebook.com/chamodshehanka" target="_blank"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="https://twitter.com/chamodshehanka" target="_blank"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.instagram.com/chamodshehanka/" target="_blank"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="info-text">
                        <h3><a href="#">Chamod <br> Perera</a></h3>
                        <p>Campus Expert</p>
                    </div>
                </div>
                <!-- Team Item Ends -->
            </div>

            <div class="col-sm-2dot4 col-md-2dot4 col-lg-2dot4">
                <!-- Team Item Starts -->
                <div class="team-item text-center wow fadeInRight" data-wow-delay="1.2s">
                    <div class="team-img">
                        <img class="img-fluid"
                            src="https://scontent.fcmb4-1.fna.fbcdn.net/v/t1.0-9/74534326_2598565010206378_5669998657747812352_n.jpg?_nc_cat=110&_nc_ohc=YAQ259Qxp9sAQnc-TMV_Xwk9LK2GpMZtsfC3VorLaxjtsbEZADUo9rKDg&_nc_ht=scontent.fcmb4-1.fna&oh=2be7ceed1f1b74b988ed788b9a0dd9cd&oe=5E7F54FC"
                            alt="">
                        <div class="team-overlay">
                            <div class="overlay-social-icon text-center">
                                <ul class="social-icons">
                                    <li><a href="https://www.facebook.com/ahamed.safnaj" target="_blank"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="https://twitter.com/iamSafnaj" target="_blank"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.instagram.com/iam_safnaj/" target="_blank"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="info-text">
                        <h3><a href="#">Ahamed <br>Safnaj</a></h3>
                        <p>Campus Expert</p>
                    </div>
                </div>
                <!-- Team Item Ends -->
            </div>

        </div>
    </div>
</section>
<!-- Team Section End -->
