<div class="col-sm-6 col-md-6 col-lg-3">
    <!-- Team Item Starts -->
    <div class="team-item text-center wow fadeInRight" data-wow-delay="1.2s">
        <div class="team-img">
            <img class="img-fluid" src="assets/img/team/team-04.png" alt="">
            <div class="team-overlay">
                <div class="overlay-social-icon text-center">
                    <ul class="social-icons">
                        <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="info-text">
            <h3><a href="#">Marijn Otte</a></h3>
            <p>Front-end Developer</p>
        </div>
    </div>
    <!-- Team Item Ends -->
</div>