<!-- Contact Section Start -->
<section id="contact" class="section-padding">
    <div class="container">
        <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">
            <div class="col-md-6 col-lg-6 col-sm-12">
                <div class="contact-block">
                    <form class="contact-form" (submit)="sendEmail($event)" id="contactForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="user_name" placeholder="Name"
                                        required data-error="Please enter your name">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Email" id="email" class="form-control" name="user_email"
                                        required data-error="Please enter your email">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Subject" id="msg_subject" class="form-control"
                                        required data-error="Please enter your subject">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="message" name="message" placeholder="Your Message" rows="5"
                                        data-error="Write your message" required></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="submit-button">
                                    <button class="btn btn-common" id="form-submit" type="submit" value="Send">Send Message</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
                <div class="contact-right-area wow fadeIn">                    
                    <h2>Contact Us</h2>
                    <div class="contact-right">
                        <!-- <div class="single-contact">
                            <div class="contact-icon">
                                <i class="lni-map-marker"></i>
                            </div>
                            <p>ADDRESS: 28 Green Tower, New York City, USA</p>
                        </div> -->                        
                        <div class="single-contact">
                            <div class="contact-icon">
                                <i class="lni-github"></i>
                            </div>
                            <p><a href="https://github.com/GitHubExperts-LK" target="_blank">GitHubExperts-LK</a></p>
                        </div>
                        <div class="single-contact">
                            <div class="contact-icon">
                                <i class="lni-envelope"></i>
                            </div>
                            <p><a href="mailto:githubcommunitysl@gmail.com">githubcommunitysl@gmail.com</a></p>
                        </div>
                        <div class="single-contact">
                            <div class="contact-icon">
                                <i class="lni-instagram"></i>
                            </div>
                            <p><a href="https://www.instagram.com/githubcommunitysl/" target="_blank">githubcommunitysl</a></p>
                        </div>
                        <div class="single-contact">
                            <div class="contact-icon">
                                <i class="lni-twitter"></i>
                            </div>
                            <p><a href="https://twitter.com/githubsl" target="_blank">githubsl</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->