.gallery .img-fluid{
    height: 200px;
    object-fit: cover;
    width: 100%;
}
.gallery .img-fluid:hover{
    filter: brightness(0.5);
}
.carousel-close {
    top: 60px !important;
}
.carousel-cell img{
    object-fit: contain !important;
    padding: 2rem;
}
overlay{
    z-index: 1111000 !important;
}