<!-- Header Area wrapper Starts -->
<header id="header-wrap">

    <app-navbar></app-navbar>

    <!-- Hero Area Start -->
    <div id="hero-area" class="hero-area-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="contents text-center">
                        <h2 class="head-title wow fadeInUp">GitHub Community Sri Lanka</h2>
                        <div class="header-button wow fadeInUp" data-wow-delay="0.3s">
                            <a href="#services" class="btn btn-common">Explore</a>
                        </div>
                    </div>
                    <div class="img-thumb text-center wow fadeInUp" data-wow-delay="0.6s">
                        <img class="img-fluid" src="../../../assets/images/octocat.png" width="25%" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->

</header>
<!-- Header Area wrapper End -->

<app-feature></app-feature>

<app-services></app-services>

<!-- Start Video promo Section -->
<section class="video-promo section-padding text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h2 style="color: #fff;">You're Using Free Lite Version</h2>
                <h5>Please purchase full version of the template to get all features/pages and facilities</h5>
                <p></p>
                <a href="https://rebrand.ly/stack-ud" class="btn btn-common" rel="nofollow">Purchase Now</a>
            </div>
        </div>
    </div>
</section>
<!-- End Video Promo Section -->

<app-team></app-team>

<app-counter></app-counter>

<!-- <app-pricing></app-pricing> -->

<app-skills></app-skills>

<!-- Start Video promo Section -->
<section id="portfolios" class="video-promo section-padding text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h2 style="color: #fff;">You're Using Free Lite Version</h2>
                <h5>Please purchase full version of the template to get all features/pages and facilities</h5>
                <p></p>
                <a href="https://rebrand.ly/stack-ud" class="btn btn-common" rel="nofollow">Purchase Now</a>
            </div>
        </div>
    </div>
</section>
<!-- End Video Promo Section -->

<app-testimonial></app-testimonial>

<app-blog></app-blog>

<app-collaborators></app-collaborators>

<app-contact></app-contact>

<app-footer></app-footer>

<!-- Go to Top Link -->
<a href="#" class="back-to-top">
    <i class="lni-arrow-up"></i>
</a>

<!-- Preloader -->
<div id="preloader">
    <div class="loader" id="loader-1"></div>
</div>
<!-- End Preloader -->