<!-- Counter Section Start -->
<section id="counter" class="section-padding">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="row">
                    <!-- Start counter -->
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="counter-box wow fadeInUp" data-wow-delay="0.2s">
                            <div class="icon-o"><i class="lni-users"></i></div>
                            <div class="fact-count">
                                <h3><span class="counter">23576</span></h3>
                                <p>Users</p>
                            </div>
                        </div>
                    </div>
                    <!-- End counter -->
                    <!-- Start counter -->
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="counter-box wow fadeInUp" data-wow-delay="0.4s">
                            <div class="icon-o"><i class="lni-emoji-smile"></i></div>
                            <div class="fact-count">
                                <h3><span class="counter">2124</span></h3>
                                <p>Positive Reviews</p>
                            </div>
                        </div>
                    </div>
                    <!-- End counter -->
                    <!-- Start counter -->
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="counter-box wow fadeInUp" data-wow-delay="0.6s">
                            <div class="icon-o"><i class="lni-download"></i></div>
                            <div class="fact-count">
                                <h3><span class="counter">54598</span></h3>
                                <p>Downloads</p>
                            </div>
                        </div>
                    </div>
                    <!-- End counter -->
                    <!-- Start counter -->
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="counter-box wow fadeInUp" data-wow-delay="0.8s">
                            <div class="icon-o"><i class="lni-thumbs-up"></i></div>
                            <div class="fact-count">
                                <h3><span class="counter">3212</span></h3>
                                <p>Followers</p>
                            </div>
                        </div>
                    </div>
                    <!-- End counter -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter Section End -->