<!-- Testimonial Section Start -->
<section id="testimonial" class="testimonial section-padding">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                <div id="testimonials" class="owl-carousel wow fadeInUp" data-wow-delay="1.2s">
                    <div class="item">
                        <div class="testimonial-item">
                            <div class="img-thumb">
                                <img src="assets/img/testimonial/img1.jpg" alt="">
                            </div>
                            <div class="info">
                                <h2><a href="#">Grenchen Pearce</a></h2>
                                <h3><a href="#">Boston Brothers co.</a></h3>
                            </div>
                            <div class="content">
                                <p class="description">Holisticly empower leveraged ROI whereas effective web-readiness.
                                    Completely enable emerging meta-services with cross-platform web services. Quickly
                                    initiate inexpensive total linkage rather than extensible scenarios. Holisticly
                                    empower leveraged ROI whereas effective web-readiness. </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-item">
                            <div class="img-thumb">
                                <img src="assets/img/testimonial/img2.jpg" alt="">
                            </div>
                            <div class="info">
                                <h2><a href="#">Domeni GEsson</a></h2>
                                <h3><a href="#">Awesome Technology co.</a></h3>
                            </div>
                            <div class="content">
                                <p class="description">Holisticly empower leveraged ROI whereas effective web-readiness.
                                    Completely enable emerging meta-services with cross-platform web services. Quickly
                                    initiate inexpensive total linkage rather than extensible scenarios. Holisticly
                                    empower leveraged ROI whereas effective web-readiness. </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-item">
                            <div class="img-thumb">
                                <img src="assets/img/testimonial/img3.jpg" alt="">
                            </div>
                            <div class="info">
                                <h2><a href="#">Dommini Albert</a></h2>
                                <h3><a href="#">Nesnal Design co.</a></h3>
                            </div>
                            <div class="content">
                                <p class="description">Holisticly empower leveraged ROI whereas effective web-readiness.
                                    Completely enable emerging meta-services with cross-platform web services. Quickly
                                    initiate inexpensive total linkage rather than extensible scenarios. Holisticly
                                    empower leveraged ROI whereas effective web-readiness. </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-item">
                            <div class="img-thumb">
                                <img src="assets/img/testimonial/img4.png" alt="">
                            </div>
                            <div class="info">
                                <h2><a href="#">Fernanda Anaya</a></h2>
                                <h3><a href="#">Developer</a></h3>
                            </div>
                            <div class="content">
                                <p class="description">Holisticly empower leveraged ROI whereas effective web-readiness.
                                    Completely enable emerging meta-services with cross-platform web services. Quickly
                                    initiate inexpensive total linkage rather than extensible scenarios. Holisticly
                                    empower leveraged ROI whereas effective web-readiness. </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-item">
                            <div class="img-thumb">
                                <img src="assets/img/testimonial/img5.png" alt="">
                            </div>
                            <div class="info">
                                <h2><a href="#">Jason A.</a></h2>
                                <h3><a href="#">Designer</a></h3>
                            </div>
                            <div class="content">
                                <p class="description">Holisticly empower leveraged ROI whereas effective web-readiness.
                                    Completely enable emerging meta-services with cross-platform web services. Quickly
                                    initiate inexpensive total linkage rather than extensible scenarios. Holisticly
                                    empower leveraged ROI whereas effective web-readiness. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End -->