<!-- Blog Section -->
<!-- <section id="blog" class="section-padding">
    <div class="container">
        <div class="section-header text-center">
            <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Latest blog</h2>
            <p>A desire to help and empower others between community contributors in technology <br> began to grow in
                2020.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 blog-item">
                <div class="blog-item-wrapper wow fadeInLeft" data-wow-delay="0.3s">
                    <div class="blog-item-img">
                        <a href="single-post.html">
                            <img src="assets/img/blog/img1.jpg" alt="">
                        </a>
                    </div>
                    <div class="blog-item-text">
                        <h3>
                            <a href="single-post.html">Suspendisse dictum non velit</a>
                        </h3>
                        <p>
                            Nunc in mauris a ante rhoncus tristique vitae et nisl. Quisque ullamcorper rutrum lacinia.
                            Integer varius ornare egestas.
                        </p>
                        <a href="single-post.html" class="btn btn-common btn-rm">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 blog-item">
                <div class="blog-item-wrapper wow fadeInUp" data-wow-delay="0.6s">
                    <div class="blog-item-img">
                        <a href="single-post.html">
                            <img src="assets/img/blog/img2.jpg" alt="">
                        </a>
                    </div>
                    <div class="blog-item-text">
                        <h3>
                            <a href="single-post.html">Remarkably Did Increasing</a>
                        </h3>
                        <p>
                            Nunc in mauris a ante rhoncus tristique vitae et nisl. Quisque ullamcorper rutrum lacinia.
                            Integer varius ornare egestas.
                        </p>
                        <a href="single-post.html" class="btn btn-common btn-rm">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 blog-item">
                <div class="blog-item-wrapper wow fadeInRight" data-wow-delay="0.3s">
                    <div class="blog-item-img">
                        <a href="single-post.html">
                            <img src="assets/img/blog/img3.jpg" alt="">
                        </a>
                    </div>
                    <div class="blog-item-text">
                        <h3>
                            <a href="single-post.html">Changing the topic scope</a>
                        </h3>
                        <p>
                            Nunc in mauris a ante rhoncus tristique vitae et nisl. Quisque ullamcorper rutrum lacinia.
                            Integer varius ornare egestas.
                        </p>
                        <a href="single-post.html" class="btn btn-common btn-rm">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- blog Section End -->


<div class="container gallery" id="gallery">
    <h1 class="text-center py-5">Gallery</h1>
    <div class="row">
        <div *ngFor="let img of galleryImages; let index=index"  class="col-lg-3 pt-3 pb-3">
                <img [src]="img['path']" (click)="showGallery(index)"  class="img-fluid">
        </div>
    </div>
</div>