<!-- Start Video promo Section -->
<section class="video-promo section-padding text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h2 style="color: #fff;">You're Using Free Lite Version</h2>
                <h5>Please purchase full version of the template to get all features/pages and facilities</h5>
                <p></p>
                <a href="https://rebrand.ly/stack-ud" class="btn btn-common" rel="nofollow">Purchase Now</a>
            </div>
        </div>
    </div>
</section>
<!-- End Video Promo Section -->