#about{
    text-align: center;
    color: white;    
}

.section-title{
    color: white;
}

.feature-thumb {
    padding: 20px 0;
}

.btn-common {
    background-color: #000000;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    margin-top: 20px;
    border-radius: 7px;
    padding: 7px 25px;
}
.btn-common:hover {
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    margin-top: 20px;
    border-radius: 7px;
    color: #3d60f4;
    transition: all .6s ease;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
    
}
