<!-- Feature Section Start -->
<div id="feature">
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="text-wrapper">
                    <div>
                        <h2 class="title-hl wow fadeInLeft" data-wow-delay="0.3s">We enrich the technology communities
                            on our campuses.</h2>
                        <p class="mb-4">As GitHub Campus Experts we support to grow the developer community at your
                            university.</p>
                        <a href="#" class="btn btn-common">More About Us</a>
                    </div>
                </div>
            </div> -->
      <div class="col-lg-12 col-md-12 col-sm-12 padding-none feature-bg">
        <div class="feature-thumb">
          <div class="row">
            <div class="container">
              <div class="section-header text-center" id="about">
                <h3 class="section-title wow fadeInDown" data-wow-delay="0.3s">
                  We enrich the technology communities on our campuses
                </h3>
                <p class="wow fadeInDown" data-wow-delay="0.3s">
                  As GitHub Campus Experts we support developer communities to
                  improve and expand.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div
                class="feature-item wow fadeInDown"
                data-wow-duration="1000ms"
                data-wow-delay="300ms"
              >
                <div class="icon">
                  <i class="lni-microphone"></i>
                </div>
                <div class="feature-content">
                  <h3>Who we are</h3>
                  <p>We are the group of GitHub Campus Experts in Sri Lanka</p>
                  <a href="#"><button id="exporeBtn" class="btn btn-common nav-link">More <i class="lni lni-chevron-right"></i></button></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div
                class="feature-item wow fadeInDown"
                data-wow-duration="1000ms"
                data-wow-delay="500ms"
              >
                <div class="icon">
                  <i class="lni-users"></i>
                </div>
                <div class="feature-content">
                  <h3>What we do</h3>
                  <p>Oraganizing amazing tech events, Speaking and Mentoring</p>
                  <a href="#"><button id="exporeBtn" class="btn btn-common nav-link">More <i class="lni lni-chevron-right"></i></button></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div
                class="feature-item wow fadeInDown"
                data-wow-duration="1000ms"
                data-wow-delay="500ms"
              >
                <div class="icon">
                  <i class="lni-medall-alt"></i>
                </div>
                <div class="feature-content">
                  <h3>Meet our team</h3>
                  <p>{{expertsCount}} GitHub Campus Experts so far & awaiting for more</p>
                  <a href="#"><button id="exporeBtn" class="btn btn-common nav-link">More <i class="lni lni-chevron-right"></i></button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Feature Section End -->
