<!-- Feature Section Start -->
<div id="feature">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="text-wrapper">
                    <div>
                        <h2 class="title-hl wow fadeInLeft" data-wow-delay="0.3s">We enrich the technology communities
                            on our campuses.</h2>
                        <p class="mb-4">A digital studio specialising in User Experience & eCommerce, we combine
                            innovation with digital craftsmanship to help brands fulfill their potential.</p>
                        <a href="#" class="btn btn-common">More About Us</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 padding-none feature-bg">
                <div class="feature-thumb">
                    <div class="feature-item wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="icon">
                            <i class="lni-microphone"></i>
                        </div>
                        <div class="feature-content">
                            <h3>What we do</h3>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia con-
                                sequuntur magni dolores </p>
                        </div>
                    </div>
                    <div class="feature-item wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <div class="icon">
                            <i class="lni-users"></i>
                        </div>
                        <div class="feature-content">
                            <h3>Meet our team</h3>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia con-
                                sequuntur magni dolores </p>
                        </div>
                    </div>
                    <div class="feature-item wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="700ms">
                        <div class="icon">
                            <i class="lni-medall-alt"></i>
                        </div>
                        <div class="feature-content">
                            <h3>Our Creation</h3>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia con-
                                sequuntur magni dolores </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature Section End -->