<!-- Pricing section Start -->
<section id="pricing" class="section-padding bg-gray">
    <div class="container">
        <div class="section-header text-center">
            <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Best Pricing</h2>
            <p>A desire to help and empower others between community contributors in technology <br> began to grow in
                2020.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="table wow fadeInLeft" data-wow-delay="1.2s">
                    <div class="title">
                        <h3>Basic</h3>
                    </div>
                    <div class="pricing-header">
                        <p class="price-value">$12.90<span>/ Month</span></p>
                    </div>
                    <ul class="description">
                        <li>Business Analyzing</li>
                        <li>24/7 Tech Suport</li>
                        <li>Operational Excellence</li>
                        <li>Business Idea Ready</li>
                        <li>2 Database</li>
                        <li>Customer Support</li>
                    </ul>
                    <button class="btn btn-common">Get It</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12 active">
                <div class="table wow fadeInUp" id="active-tb" data-wow-delay="1.2s">
                    <div class="title">
                        <h3>Profesional</h3>
                    </div>
                    <div class="pricing-header">
                        <p class="price-value">$49.90<span>/ Month</span></p>
                    </div>
                    <ul class="description">
                        <li>Business Analyzing</li>
                        <li>24/7 Tech Suport</li>
                        <li>Operational Excellence</li>
                        <li>Business Idea Ready</li>
                        <li>2 Database</li>
                        <li>Customer Support</li>
                    </ul>
                    <button class="btn btn-common">Get It</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="table wow fadeInRight" data-wow-delay="1.2s">
                    <div class="title">
                        <h3>Expert</h3>
                    </div>
                    <div class="pricing-header">
                        <p class="price-value">$89.90<span>/ Month</span></p>
                    </div>
                    <ul class="description">
                        <li>Business Analyzing</li>
                        <li>24/7 Tech Suport</li>
                        <li>Operational Excellence</li>
                        <li>Business Idea Ready</li>
                        <li>2 Database</li>
                        <li>Customer Support</li>
                    </ul>
                    <button class="btn btn-common">Get It</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing Table Section End -->